<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommedation System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Tìm kiếm sách:</h1>
        <form method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="search_query" placeholder="Nhập tên sách" value="{{ search_query }}">
            </div>
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>

        <table class="table table-bordered table-striped mt-3">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên sách</th>
                    <th>Tác giả</th>
                    <th>Minh hoạ</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(results|length) %}
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{ results[i][0] }}</td>
                    <td>{{ results[i][1] }}</td>
                    <td><img src="{{results[i][2]}}" alt="Book Cover"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
